<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <h1>Add an SSH Key</h1>
    <p>Need help with keys? GitHub has <a href="https://help.github.com/categories/56/articles" target="_new">great documentation on SSH keys</a>.</p>
    <hr>
    <%= form_for @public_key, :html => { :role => 'form' } do |f| %>
      <div class="form-group">
        <%= f.label :name, "Name (for your reference)" %>
        <%= f.text_field :name, :class => 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :value, "Key" %>
        <%= f.text_area :value, :class => 'form-control', :rows => "10" %>
      </div>

      <div class="form-group">
        <%= f.submit 'Add this Key', :class => 'btn btn-default btn-large btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
